.git
**/.next
**/build
**/dist
**/node_modules
**/.DS_Store
Dockerfile
docs
*.log

**/coverage

*.tfvars

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
backend.conf
