# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.idea
**.env
**.env.prod
**.env.local
**requirements.txt
serviceAccountKey.json

*.tfvars

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
backend.conf

# Crash log files
crash.log
crash.*.log

.terraform.lock**
frontend/.firebaserc
