[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pylint = "*"
pyyaml = "*"
uritemplate = "*"
coverage = "*"
psycopg2-binary = "*"
python-dotenv = "*"
djangorestframework-simplejwt = "*"
django-rest-knox = "*"
django-annoying = "*"
factory-boy = "*"
django-storages = {extras = ["google"], version = "*"}
django-localized-fields = "*"
django-safedelete = "*"
django-extensions = "*"
drf-nested-routers = "*"
pylint-django = "*"
autopep8 = "*"
pycodestyle = "*"
autoflake = "*"
hypercorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
