asgiref==3.4.1
astroid==2.9.3
coverage==6.2
django-cors-headers==3.11.0
django==4.0.1
djangorestframework==3.13.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
platformdirs==2.4.1
psycopg2-binary==2.9.3
pylint==2.12.2
pytz==2021.3
pyyaml==6.0
sqlparse==0.4.2
toml==0.10.2
typing-extensions==4.0.1; python_version < '3.10'
uritemplate==4.1.1
wrapt==1.13.3
